<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Music-From-YouTube</title>
  </head>
  <body>
    <div class="wrapper">
      <div tabindex="-1" class="main-div">
        <form
          id="getLink"
          action="/"
          method="post"
          name="main"
          class="main-form"
        >
          <div class="main-form__column">
            <div class="main-form__item">
              <label for="nameInput" class="main-form__label"
                >Введите URL</label
              >
              <input
                tabindex="1"
                value=""
                id="nameInput"
                type="text"
                name="name"
                class="main-form__input"
                autocomplete="on"
                placeholder="http://..."
              />
            </div>
          </div>
          <div class="main-form__column">
            <button type="submit" id="submitButton" class="main-form__button">
              Отправить
            </button>
          </div>
          <p></p>
          <div class="message" id="result"></div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      // получить элементы формы
      const form = document.querySelector("#getLink");
      const nameInput = document.querySelector("#nameInput");
      let result = document.querySelector("#result");

      // обработчик отправки формы
      form.addEventListener("submit", (e) => {
        e.preventDefault(); // отменить стандартное поведение формы
        const data = {
          name: nameInput.value,
        };
        axios
          .post("/", data) // отправить данные на сервер
          .then((response) => {
            console.log(response.data); // вывести ответ сервера в консоль
            if (result && response.data) {
              result.innerHTML = response.data;
            }
          })
          .catch((error) => {
            console.error(error); // обработать возможные ошибки при отправке данных
          });
      });
    </script>
  </body>
</html>
