<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Music-From-YouTube</title>
  </head>
  <body>
    <div class="wrapper">
      <div tabindex="-1" class="main-div">
        <form
          id="getLink"
          action="/"
          method="post"
          name="main"
          class="main-form"
        >
          <div class="main-form__column">
            <div class="main-form__item">
              <label for="nameInput" class="main-form__label"
                >Введите URL</label
              >
              <input
                tabindex="1"
                value=""
                id="nameInput"
                type="text"
                name="name"
                class="main-form__input"
                autocomplete="on"
                placeholder="http://..."
              />
            </div>
          </div>
          <div class="main-form__column">
            <button type="submit" id="submitButton" class="main-form__button">
              Отправить
            </button>
          </div>
          <p></p>
          <div class="message" id="result"></div>
          <br />
          <p></p>
          <div class="message" id="status"></div>
          <br />
        </form>
        <a href="/download">Download</a>
      </div>
    </div>
    <script src="/dynamicMessage.js"></script>
  </body>
</html>
