/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* roboto-condensed-300 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-condensed-v25-cyrillic-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-regular - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v25-cyrillic-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v25-cyrillic-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(5, 1, 1);
}
.wrapper {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header styles start */

.header {
  position: fixed;
  top: 0;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1508px;
  transition: 0.2s linear;
  z-index: 990;
}

.header__active {
  background: #ddf5c0;
  margin: 0 auto;
  width: 100%;
  max-width: 1508px;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 65px; */
  margin: 25px 0 25px 0;
  padding: 15px 0;
  --border-bottom-width: 2px;
  --border-color: #630614;
  --border-left-width: 0px;
  --border-right-width: 0px;
  --border-style: solid;
  --border-top-width: 2px;
  border-top-width: var(--border-top-width);
  border-bottom-width: var(--border-bottom-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
}

.header__text {
  text-decoration: none;
  font-weight: bold;
  color: rgb(249 239 239);
  padding: 7px 3px 7px 3px;
  background-color: #d20505cc;
  border-radius: 7px;
  box-shadow: rgb(53 47 99 / 29%) 1px 1px 15px 1px;
}

.header__text:hover,
.header__text:active,
.header__text:focus-visible {
  opacity: 0.95;
  color: rgba(0, 5, 5, 0.6);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: rgb(5, 1, 1);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
  color: #1c1c1c;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/* header styles end */

/* intro styles start */

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1508px;
}

.intro {
  background: url(../img/maket_4.png) no-repeat center;
  background-size: cover;
}

.intro__contain {
  min-height: 100vh;
  padding-top: 200px;
  overflow: auto;
}

.intro__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 50px;
  color: rgb(54, 4, 4);
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

/* button::before {
  content: "Подтвердить!";
  position: absolute;
  background-color: #a68c8c;
  color: #fafafa;
  padding: 5px;
  border-radius: 5px;
  bottom: 30px;
  left: 0;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

button:hover::before {
  opacity: 1;
} */

.intro__subtitle {
  max-width: 480px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: justify;
}

#getLink {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 60px;
  display: block;
  max-width: 915px;
  /* margin: 55px;
  margin-left: 380px; */
  /* margin: 5vh; /* Отступы 5% от высоты окна сверху и снизу */
  /* margin-left: 10vw; Отступ слева 10% от ширины окна */
  /* max-width: 90vw; Максимальная ширина 90% от ширины окна */
}
.main-form._active {
  outline: 2px solid red;
}
.main-form__error {
  padding: 10px 0px 0px 0px;
  color: red;
}

.main-form__wrapper {
  display: flex;
  padding: 20px 40px 20px 40px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 7px;
  max-width: 560px;
  box-shadow: rgb(47 59 99 / 34%) 9px 10px 12px 3px;
}

.main-form__item {
  margin: 0px 0px 15px 0px;
}

.main-form__label {
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form__input {
  font-family: inherit;
  min-height: 40px;
  font-size: 20px;
  line-height: 10px;
  width: 480px;
  padding: 5px 5px;
  border: 2px solid #630614;
  border-radius: 5px;
}

.main-form__input:hover,
.main-form__input:active {
  opacity: 0.85;
  box-shadow: 0 0 5px rgba(0, 5, 5, 0.8);
}
.main-form__input:focus {
  opacity: 0.75;
  box-shadow: 0 5px 9px rgba(61, 14, 2, 0.848);
}

.btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  width: 180px;
  transition: all 0.1s ease 0s;
  padding: 5px 5px;
  background-color: rgba(233, 53, 29, 0.897);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: rgb(236, 242, 243);
  cursor: pointer;
  border: 2px solid #630614;
  border-radius: 5px;
  position: static;
}

button:hover,
button:active,
button:focus-visible {
  opacity: 0.95;
  box-shadow: 0 0 8px rgba(107, 43, 13, 0.8);
}

/* intro styles end */

/* output block styles start */

.message__container {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.messageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100px;
  max-width: 600px;
  max-height: 500px;
  background-color: rgba(169, 193, 213, 0.757);
  padding: 10px;
  font-size: 18px;
  border: 2px solid #630614;
  border-radius: 5px;
}

.status__container {
  display: flex;
  justify-content: center;
  width: 560px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
}
/* #status {
  padding-bottom: 15px;
  font-size: 100px;
  color: red;
  -webkit-text-stroke: 2px #000;
  transition: 0.2s linear;
} */

/* Preloader start */

@keyframes ldio-7cx3aq7aua5 {
  0% {
    transform: translate(8px, 76px) scale(0);
  }
  25% {
    transform: translate(8px, 76px) scale(0);
  }
  50% {
    transform: translate(8px, 76px) scale(1);
  }
  75% {
    transform: translate(76px, 76px) scale(1);
  }
  100% {
    transform: translate(144px, 76px) scale(1);
  }
}
@keyframes ldio-7cx3aq7aua5-r {
  0% {
    transform: translate(144px, 76px) scale(1);
  }
  100% {
    transform: translate(144px, 76px) scale(0);
  }
}
@keyframes ldio-7cx3aq7aua5-c {
  0% {
    background: #f54e4e;
  }
  25% {
    background: #a899eb;
  }
  50% {
    background: #69edd1;
  }
  75% {
    background: #e3f86a;
  }
  100% {
    background: #f54e4e;
  }
}
.ldio-7cx3aq7aua5 div {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(76px, 76px) scale(1);
  background: #f54e4e;
  animation: ldio-7cx3aq7aua5 1.8518518518518516s infinite
    cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-7cx3aq7aua5 div:nth-child(1) {
  background: #e3f86a;
  transform: translate(144px, 76px) scale(1);
  animation: ldio-7cx3aq7aua5-r 0.4629629629629629s infinite
      cubic-bezier(0, 0.5, 0.5, 1),
    ldio-7cx3aq7aua5-c 1.8518518518518516s infinite step-start;
}
.ldio-7cx3aq7aua5 div:nth-child(2) {
  animation-delay: -0.4629629629629629s;
  background: #f54e4e;
}
.ldio-7cx3aq7aua5 div:nth-child(3) {
  animation-delay: -0.9259259259259258s;
  background: #e3f86a;
}
.ldio-7cx3aq7aua5 div:nth-child(4) {
  animation-delay: -1.3888888888888888s;
  background: #69edd1;
}
.ldio-7cx3aq7aua5 div:nth-child(5) {
  animation-delay: -1.8518518518518516s;
  background: #a899eb;
}
.loadingio-spinner-ellipsis-29linrtctor {
  width: 200px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
}
.ldio-7cx3aq7aua5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7cx3aq7aua5 div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

/* Preloader end */

.hidden-link {
  display: none;
}

.return__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.return {
  padding-left: 45px;
  color: #630614;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  background: url("../img/red-arrow-pngwing.png") 5%;
  background-repeat: no-repeat;
  background-size: contain;
}

.return:hover,
.return:focus {
  background: url("../img/red-arrow-pngwing.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s;
}

/* .return::after {
  content: "Вернуться в начало";
  position: absolute;
  background-color: #a68c8c;
  color: #fafafa;
  padding: 5px;
  border-radius: 5px;
  bottom: 30px;
  left: 0;
  font-size: 18px;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
} */

.return:hover::after {
  opacity: 1; /* Устанавливаем значение 1 при наведении для плавного появления */
}

/* button::before {
  content: "Подтвердить!";
  position: absolute;
  background-color: #a68c8c;
  color: #fafafa;
  padding: 5px;
  border-radius: 5px;
  bottom: 30px;
  left: 0;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

button:hover::before {
  opacity: 1;
} */

/* output block styles end */

/* footer styles start */

.footer {
  background: #ddf5c0;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 1508px;
}

.footer__frame {
  background: #1c1c1c;
  padding: 5px 0;
  width: 100%;
  margin-bottom: 40px;
}

.footer__item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
}

.footer__pic__twitter {
  height: 32px;
  width: 32px;
}

.footer__pic__instagram {
  height: 32px;
  width: 32px;
}

.footer__pic__twitch {
  height: 32px;
  width: 32px;
}

.footer__pic__telegram {
  height: 32px;
  width: 32px;
}

.hover__img:hover,
.hover__img:focus,
.hover__img:active {
  opacity: 0.75;
  color: #1c1c1c;
}

.footer__text {
  display: flex;
  justify-content: center;
}

/* footer styles end */

/* Media start */

@media screen and (max-width: 872px) {
  .header__burger {
    display: block;
  }

  .header__nav {
    position: fixed;
    width: 97%;
    top: 0;
    left: 12;
    background-color: #cab5b5;
    z-index: 10;
    transform: translateX(120%);
    transition: 0.3s all linear;
  }
  .header__nav_active {
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav_close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 11;
  }

  .header__nav_close-line {
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .header__nav_close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav_close-line:last-child {
    transform: translateY(-50%) rotate(135deg);
  }
}

@media screen and (max-width: 582px) {
  .main-form__input {
    width: 370px;
  }
  .intro__subtitle {
    max-width: 360px;
  }
  .status__container {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .intro__title {
    max-width: 360px;
  }
  .main-form__wrapper {
    padding: 10px;
  }
}

@media screen and (max-width: 460px) {
  .header__wrapper {
    display: block;
  }
  .header__text {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 426px) {
  .main-form__input {
    width: 320px;
  }
  .header__text {
    line-height: 30px;
    padding: 3px;
  }
  .status__container {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  body {
    text-align: center;
  }
}

/* Media end */
